.hero--image {
  // background-image: url("/images/g500_hero_image.jpg");
  padding-bottom: 56.25%; // 1080 divided by 1920 to hold aspect ratio of image

  // //   /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
  z-index: 5;
  // position: fixed;
}
